<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="cad-ws-avaliacao-veiculo-war-1.0-SNAPSHOT">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/target/generated-sources/annotations"/>
        <dependent-module archiveName="cad-ws-avaliacao-veiculo-servico-1.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/cad-ws-avaliacao-veiculo-servico/cad-ws-avaliacao-veiculo-servico">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="cad-ws-avaliacao-veiculo-domain-1.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/cad-ws-avaliacao-veiculo-domain/cad-ws-avaliacao-veiculo-domain">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="cad-ws-avaliacao-veiculo-api-1.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/cad-ws-avaliacao-veiculo-api/cad-ws-avaliacao-veiculo-api">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="cad-ws-avaliacao-veiculo-war"/>
        <property name="java-output-path" value="/cad-ws-avaliacao-veiculo-war/target/classes"/>
    </wb-module>
</project-modules>
